@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header{ 
    display: flex;
    border-bottom: 1px solid rgb(190, 187, 187);
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
    
}
header .icone{
    display: flex;
    align-items: center;
    gap: 5px;
}
input{
    width: 300px;
    height: 30px;
    padding: 10px;
}
iframe{
    
    margin: 30px 0px 15px 40px;
}
h1{
    font-size: 0.9rem;
    width: 800px;
    margin-left: 40px;
    
}
.canal .dio{
    display: flex;
    border-radius: 50%;
    margin: 20px 0px 20px 40px;
}
.canal > p{
    display: flex;
    text-indent: 30px;
}
main .conteiner{
    display: flex;
}

aside .sidebar{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
    margin: 30px 0px 2px -350px;
    gap: 8px;
    
}
.sidebar .thumb{
    display: flex;
    width: 150px;
    
}

.sidebar .info p{
    font-size: 0.9rem;
    text-align: left;
    width: 300px;
    color: rgb(110, 104, 104);
    line-height: 1.2;
    
   
}
h2{
    font-size: 1rem;
    width: 250px;
    
}
.canal{
    display: flex;
    justify-content: flex-start;
    align-content: center;
   

}
.canal >p{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0px 10px 0px -20px;
    font-size: 0.8rem;
}
.conteudo > p{
    font-size: 0.9rem;
    margin-left: 40px;
    margin-right: 450px;
    text-align: justify;
}
button{
    height: 30px;
    width: 100x;
    border: none;
    margin-right: 13px;
    align-self: center;
}
button:hover{
    background-color: rgb(187, 187, 187);
}
.canal  #ins{
    background-color: rgb(177, 14, 14);
    color: white;
    padding: 10px;
}
.sidebar .info h2:hover{
    background-color: rgb(187, 187, 187);
}
